/* Fonts */

@import url(https://db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember);

@font-face {
    font-family: Streetwear;
    src: url('Streetwear.otf');
}

/* Navbar */

.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(196,159,106);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.navbar .logo_link {
    font-family: Streetwear;
    font-size: 40px;
    margin: auto 0 auto 30px;
}

.navbar ul {
    margin: auto 30px auto 0;
}

.navbar li { /* Menu links */
    list-style-type: none;
    display: inline-block;
    margin: 0 0 0 20px;
    font-size: 16px;
    font-family: "Amazon Ember";
}

.navbar a {
    text-decoration: none;
    color: rgb(68, 45, 39);
}

.navbar ul li a::after { /* Creates a 2px height, 0 width white background empty block element */
    display: block;
    width: 0;
    height: 4px;
    content: '';
    background-color: rgb(68, 45, 39);
    position: relative;
    transition: all ease-in-out 300ms;
}

.navbar ul li a:hover::after { /* Triggers the animation, block element goes from 0 to width  of li */
    width: 100%;
}

