/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,300;1,400;1,700&display=swap');

@font-face {
    font-family: Streetwear;
    src: url('Streetwear.otf');
}

/* General Styles */

body {
    background-color: rgb(238, 222, 200);
    overflow-x: hidden;
}

/* Navbar */

.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(196,159,106);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.navbar .logo_link { /* Tune Hogs logo */
    font-family: Streetwear;
    font-size: 40px;
    margin: auto 0 auto 30px;
}

.navbar ul {
    margin: auto 30px auto 0;
}

.navbar li { /* Menu links */
    list-style-type: none;
    display: inline-block;
    margin: 0 0 0 20px;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.navbar a {
    text-decoration: none;
    color: rgb(68, 45, 39);
}

.navbar ul li a::after { /* Creates a 3px height, 0 width white background empty block element */
    display: block;
    width: 0;
    height: 3px;
    content: '';
    background-color: rgb(68, 45, 39);
    position: relative;
    transition: all ease-in-out 300ms;
}

.navbar ul li a:hover::after { /* Triggers the animation, block element goes from 0 to width  of li */
    width: 100%;
}


/* ------------------------ MAIN PAGE (index.html) ------------------------ */

/* Welcome Image */

.welcome {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome::before {
    content: "";
    background-image: url('../images/main_page.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 30%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.welcome .welcome-text {
    position: relative;
    opacity: 100%;
    color: black;
    font-size: 80px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

/* Album Sector */

.albumlist { /* Parent of .container and h2 */
    position: absolute;
    width: 100%;
    top: 430px;
    left: 0;
}

.albumlist h2 { /* Album Selection Label */
    font-family: 'Merriweather', serif;
    font-size: 30px;
    text-align: center;
    margin-top: 35px;
}

.container { /* Parent Element of Album Covers */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 999px;
    justify-content: space-around;
}

.container .album { /* Album container title+cover */
    margin-bottom: 50px;
    max-width: 200px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.container .album .album-art { /* Album Cover */
    width: 200px;
    height: 200px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.8), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
}

.container .album .album-title { /* Album Name */
    font-weight: 700;
    font-style: italic;
}

.container .album .profile-link { /* Instagram profile links */
    text-decoration: none;
    color: rgb(117, 10, 31);
    font-weight: 700;
    font-style: bold;
    font-size: 15px;
}

.container .album .profile-link:hover {
    text-decoration: underline;
}


/* ------------------------ ALBUM OF THE MONTH (aotm.html) ------------------------ */

/* Album Reviews */

.aotm-header {
    position: absolute;
    top: 80px;
    margin: 50px 0;
    width: 100%;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 40px;
}

.aotm-container {
    position: absolute;
    top: 180px;
    left: 0;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aotm-container #aotm {
    height: 292px;
    width: 292px;
}

.aotm-container .album-review {
    height: 292px;
    max-width: 740px;
    text-align: right;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.aotm-container .album-review .review q {
    font-weight: 700;
}

.aotm-container .album-review .rating {
    width: 100%;
    font-size: 20px;
}

/* Video Sector */

