/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,300;1,400;1,700&family=Roboto+Slab&display=swap');

@font-face {
    font-family: Streetwear;
    src: url('Streetwear.otf');
}

/* General Styles */

body {
    background-color: rgb(238, 222, 200);
    overflow-x: hidden;
}

/* Navbar */

.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(196,159,106);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.navbar .logo_link { /* Tune Hogs logo */
    font-family: Streetwear;
    font-size: 40px;
    margin: auto 0 auto 30px;
}

.navbar ul {
    margin: auto 30px auto 0;
}

.navbar li { /* Menu links */
    list-style-type: none;
    display: inline-block;
    margin: 0 0 0 20px;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.navbar a {
    text-decoration: none;
    color: rgb(68, 45, 39);
}

.navbar ul li a::after { /* Creates a 3px height, 0 width white background empty block element */
    display: block;
    width: 0;
    height: 3px;
    content: '';
    background-color: rgb(68, 45, 39);
    position: relative;
    transition: all ease-in-out 300ms;
}

.navbar ul li a:hover::after { /* Triggers the animation, block element goes from 0 to width  of li */
    width: 100%;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(0, 0, 0);
    display: flex;
}

footer p {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    color: gray;
    margin: auto auto;
}

/* ------------------------ MAIN PAGE (index.html) ------------------------ */

/* Welcome Image */

.welcome {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome::before { /* CSS trick to compartmentalize the div's background-image opacity and h1 opacity */
    content: "";
    background-image: url('../images/main_page.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 30%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.welcome .welcome-text {
    position: relative;
    opacity: 100%;
    color: black;
    font-size: 80px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

/* Album Sector */

.albumlist { /* Parent of .container and h2 */
    position: absolute;
    width: 100%;
    top: 430px;
    left: 0;
}

.albumlist h2 { /* Album Selection Label */
    font-family: 'Merriweather', serif;
    font-size: 30px;
    text-align: center;
    margin-top: 35px;
}

.container { /* Parent Element of Album Covers */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 999px;
    justify-content: space-around;
}

.container .album { /* Album container title+cover */
    margin-bottom: 50px;
    max-width: 200px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.container .album .album-art { /* Album Cover */
    width: 200px;
    height: 200px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.8), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
}

.container .album .album-title { /* Album Name */
    font-weight: 700;
    font-style: italic;
}

.container .album .profile-link { /* Instagram profile links */
    text-decoration: none;
    color: rgb(117, 10, 31);
    font-weight: 700;
    font-style: bold;
    font-size: 15px;
}

.container .album .profile-link:hover {
    text-decoration: underline;
}


/* ------------------------ ALBUM OF THE MONTH (aotm.html) ------------------------ */

/* Album Reviews */

.aotm-header { /* Album and Artist name */
    position: absolute;
    top: 80px;
    margin: 50px 0;
    width: 100%;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 40px;
}

.aotm-container { /* Contains album picture, reviews, and our rating */
    position: absolute;
    top: 200px;
    left: 0;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aotm-container #aotm { /* Adele's Album Cover */
    height: 292px;
    width: 292px;
    /* box-shadow: 6px 2px 16px 0px rgba(0, 0, 0, 0.48) , -6px -2px 16px 0px rgba(0, 0, 0, 0.8); */
    box-shadow: 10px 8px 0px rgb(168, 136, 5);
    border-radius: 8px;
}

.aotm-container .album-review { /* Album reviews + reviewer name */
    height: 292px;
    max-width: 740px;
    text-align: right;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.aotm-container .album-review .review q { /* Makes the review quote bold */
    font-weight: 700;
}

.aotm-container .album-review .rating { /* Our album rating (emojis) */
    width: 100%;
    font-size: 20px;
}

/* Video Sector */

.video-container { /* Contains the iframe video player and the text above it */
    position: absolute;     
    top: 580px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.video-container h2 { /* Text above video player */
    font-family: 'Merriweather', serif;
    margin: 30px auto;
}

#easy-on-me { /* Video Player */
    margin: 0 auto 40px auto;
}

/* ------------------------ PRODUCTS (products.html) ------------------------ */

/* Product Menu */

.sections-container { /* Contains the two section-showcase divs (vinyls & turntables) */
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sections-container .product-section { /* Contains the section's name and background image */
    width: 250px;
    height: 280px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    transition: transform 300ms ease-in-out; /* Used to make the below transform property smoother */
}

.sections-container .product-section:hover { /* Makes the section div bigger when hovering over it */
    transform: scale(1.2)
}

#vinyls { /* Background image for vinyl section */
    background-image: url('../images/products/vinyl.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#turntables { /* Background image for turntables section */
    background-image: url('../images/products/turntable.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sections-container .product-section h2 { /* Name of the section */
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 20px;
}

.sections-container .product-section h2 span { /* Span wraps h2 to limit bg-color around the text */
    background-color: rgba(238, 222, 200);
    border-radius: 8px;
    padding: 5px;
}

.sections-container a { /* Removes underline and purple color of link text */
    text-decoration: none;
    color: black;
}

/* ------------------------ VINYLS & TURNTABLES (vinyls.html, turntables.html) ------------------------ */

main.table-container { /* Screen-wide container of table  */
    width: 100%;
    height: 3300px;
    position: absolute;
    top: 80px;
    left: 0;
    display: flex;
    background-size: contain;
}

#vinyl-table {
    background-image: url('../images/products/record-stacks.jpg');
}

#record-player-table {
    background-image: url('../images/products/record-player.jpg');
}

main.table-container table { /* Positions the table */
    position: absolute;
    top: 80px;
    left: 25%;
    right: 25%;
    width: 50%;
    background-color: rgb(196,159,106, 0.8);
    margin: auto 0;
    padding: 0 20px;
}

main.table-container td { /* Styles the gray line between each table row */
    padding: 50px 0;
}

main.table-container .table-cell { /* Container of product data in each td element */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main.table-container .product-info { /* Contains product image and name */
    text-align: center;
    font-family: 'Merriweather', serif;
    max-width: 200px;
    font-weight: 700;
    font-size: 20px;
}

main.table-container .buy-product { /* Contains price and buy now button */
    display: flex;
    flex-direction: column;
    margin: auto 0;
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

main.table-container .buy-button { /* Buy Now button */
    margin: 0 0;
    padding: 8px;
    border-radius: 4px;
    background-color:rgb(236, 149, 18);
    color: white;
    font-weight: 700;
    font-size: 24px;
    transition: background-color 300ms ease-in-out; /* Makes color change (seen below) smooth */
}

main.table-container .buy-button:hover { /* Changes button color upon hovering */
    background-color: rgb(199, 37, 37);
}

main.table-container a {
    text-decoration: none;
}

/* ------------------------ ABOUT US (about.html) ------------------------ */

.about-us { /* Banner picture of street and text over it */
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us::before { /* CSS trick to compartmentalize the div's background-image opacity and h1 opacity */
    content: "";
    background-image: url('../images/about.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 30%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.about-us .about-text { /* Text in front of banner picture */
    position: relative;
    opacity: 100%;
    color: black;
    font-size: 80px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

.story-container { /* Contains the story and the decorative line */
    width: 100%;
    position: absolute;
    top: 410px;
    display: flex;
    flex-direction: column;
}

.story-container img{ /* Decorative line between banner picture and text */
    margin: 0 auto;
    height: 150px;
    width: 300px;
    opacity: 0.8;
}

.story-container .story {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.story-container .story p {
    display: inline-block;
    max-width: 500px;
    font-family: 'Roboto Slab', serif;
    margin: 0 50px;
    text-align: justify;
}

/* ------------------------ GRAMMYS (grammys.html) ------------------------ */

.grammy-banner { /* Banner picture of street and text over it */
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grammy-banner::before { /* CSS trick to compartmentalize the div's background-image opacity and h1 opacity */
    content: "";
    background-image: url('../images/grammy.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.grammy-banner .grammy-text { /* Text in front of banner picture */
    position: relative;
    opacity: 100%;
    color: black;
    font-size: 80px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

.category-container { /* Contains all tables with category nominees */
    position: absolute;
    top: 480px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.category-table { /* Table with category nominees */
    margin-bottom: 100px;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    text-align: center;
}

.category-table th { /* Category Name */
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 15px;
}

.category-table td {
    padding: 10px 0;
}